
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	background-color: $body-bg;
}
.comments {
	border-top: 2px solid $laravel-border-color;
	margin-top: 40px;
}
#sidebar {
	background-color: $sidebar;
	position: relative;
	min-height: 100vh;
	color: $text-color-light;
	
	ul {
		list-style-type: none;
		padding: 0;
		
		li {
			padding: 20px 0;
			
			a {
				color: $text-color-light;
				text-decoration: none;
			}
		}
	}
}